:80 {
    handle_path /static/* {
        root * /srv/daystat/static
        file_server
    }

    handle /favicon.ico {
        root * /srv/daystat
        rewrite * /static/img/favicon.ico
        file_server
    }

    reverse_proxy http://app:8000
}
