:80 {
    handle /static/* {
        root * /var/www/daystat
        file_server
    }

    handle /favicon.ico {
        root * /var/www/daystat/static/img
        file_server
    }

    handle {
        reverse_proxy http://app:8000
    }
}
