<div class="text-center m-4 d-none" id="cat-container">
  <image id="cat-image" height="192px">
</div>
<script>
  let catContainer = document.getElementById("cat-container");
  let image = document.getElementById("cat-image");
  const urls = [
    "https://cataas.com/cat/gif",
    "https://cataas.com/cat"
  ];
  const randomUrl = urls[Math.floor(Math.random() * urls.length)];
  fetch(randomUrl)
    .then(response => response.blob())
    .then(blob => {
      image.src = URL.createObjectURL(blob);
    })
    .then(() => catContainer.classList.remove("d-none"));
</script>
