{% extends "base.html" %}
{% block title %}
    Статистика по калориям
{% endblock title %}
{% block content %}
    <div class="row justify-content-center">
        <div class="text-center col-lg-6">
            <h1 class="pb-3">Статистика по калориям</h1>
            {% for year, weeks in data.items %}
                <h4 class="py-2">Год: {{ year }}</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Неделя</th>
                            <th>Среднее по калориям</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for week, data in weeks.items %}
                            <tr>
                                <td>{{ week }}</td>
                                <td>{{ data.avg_calories|floatformat:0 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
