{% extends "base.html" %}
{% load static %}
{% block title %}
    График
{% endblock title %}
{% block extrahead %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>
{% endblock extrahead %}
{% block content %}
    <div class="btn-group mb-2" role="group" aria-label="Выбор параметра">
        <input type="radio"
               class="btn-check"
               name="type"
               id="weightButton"
               autocomplete="off">
        <label class="btn btn-outline-pink d-flex align-items-center"
               for="weightButton">Вес</label>
        <input type="radio"
               class="btn-check"
               name="type"
               id="caloriesButton"
               autocomplete="off">
        <label class="btn btn-outline-pink d-flex align-items-center"
               for="caloriesButton">Калории</label>
    </div>
    <div class="btn-group mb-2" role="group" aria-label="Выбор периода">
        <input type="radio"
               class="btn-check"
               name="range"
               id="weekButton"
               autocomplete="off">
        <label class="btn btn-outline-pink d-flex align-items-center"
               for="weekButton">Неделя</label>
        <input type="radio"
               class="btn-check"
               name="range"
               id="monthButton"
               autocomplete="off">
        <label class="btn btn-outline-pink d-flex align-items-center"
               for="monthButton">Месяц</label>
        <input type="radio"
               class="btn-check"
               name="range"
               id="6monthsButton"
               autocomplete="off">
        <label class="btn btn-outline-pink d-flex align-items-center"
               for="6monthsButton">6 месяцев</label>
        <input type="radio"
               class="btn-check"
               name="range"
               id="yearButton"
               autocomplete="off">
        <label class="btn btn-outline-pink d-flex align-items-center"
               for="yearButton">Год</label>
        <input type="radio"
               class="btn-check"
               name="range"
               id="5yearButton"
               autocomplete="off">
        <label class="btn btn-outline-pink d-flex align-items-center"
               for="5yearButton">5 лет</label>
    </div>
    <div class="mt-2">
        <canvas id="myChart"></canvas>
    </div>
    <script src="{% static 'js/chart.js' %}"></script>
{% endblock content %}
